
	<% if(fade){ %>
	
<nav class="navbar navbar-expand-md fadeIn fadeOut px-0 justify-content-between" id = "nav-mb">  
	
	<% }else{ %>
	
<nav class="navbar navbar-expand-md px-0 justify-content-between" id = "nav-mb">  
	
	<% } %>

			<div></div>

			<div class="d-inline-flex align-middle">

				<img src="nav_logo.png"   alt="" class="align-self-center  m-md-3  m-2" id="nav_logo">

				<div class="d-inline-flex flex-column align-self-center">
					<p class="navbar-text">MOUNTAIN BLACK</a>
						<div class="d-flex justify-content-between">
							<p class="navbar-text " >黑</a>
								<p class="navbar-text " >山</a>
									<p class="navbar-text " >基</a>
										<p class="navbar-text " >地</a>
										</div>


									</div> 
								</div>
								<!-- <div class="d-flex flex-row justify-content-end"> -->

									<button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
										<span class="navbar-toggler-icon"></span>
									</button>

									<div class=" navbar-collapse collapse justify-content-end mr-4" id="navbarsExample04" style="">

										<ul class="navbar-nav  ">


											<li class="nav-item active ml-auto my-2">
												<a class="nav-link" href="/">home |<span class="sr-only">(current)</span></a>
											</li>
											<li class="nav-item ml-auto my-2">
												<a class="nav-link" href="/about">about us |</a>
											</li>
											<li class="nav-item ml-auto my-2">
												<a class="nav-link" href="/contact">info&contact |</a>
											</li>
											<li class="nav-item ml-auto my-2">
												<a class="nav-link" href="/reel">reel |</a>
											</li>
											<li class="nav-item ml-auto my-2">
												<a class="nav-link" href="/works">works |</a>
											</li>					

										</ul>

									</div>

								</nav>