<% include partials/header %>

<link rel="stylesheet" href="about.css">

</head>



<body>

    <div class="bg">
         	<% include partials/nav %>
         	
         	<img id="top" src="top.png" >
         	
             	<div class="container">
                 	
                     
                          <p class="title">關於我們</p>
                     
                       
                         <p class="content mt-4 pb-2">
                        黑山基地研究設施目前有三名常駐科學家，詩人蘭斯、機械師宗廷與駭客豪爾。某天凌晨存在乙太網路上之超級智慧系統  HANoS-9120 聯繫上了豪爾，從此在台北成立了研究據點並開啟一系列研發計畫。
                         </p>
                          <p class="content pb-2">
                        計畫內容以未來性為研發指標，黑山基地科學家將接觸各類網路技術、互動軟體、數位製造、光影媒介、微晶片控制、動力機械等領域，再運用設計方法，將這些他們熱愛的技術透過原型 (Artifact) 實體化，並定期舉行發表會系列活動對外公開。
                         </p>
                        <p class="content mb-4">
                        如果您有任何在浴室裡靈光乍現的點子，歡迎隨時與駐點科學家聯絡，黑山基地的科技設備可以將您的想法成為現實！
                            </p>                    
                               
                      
                     
                        
                        <img id="tool" src="tool.png" >
                        
                        
                </div>
    </div>

   <% include partials/footer %>

</body>

</html>
