<!DOCTYPE html>
<html>
<head>
	<title>
	十二點黑山基地
	</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="refresh" content="4;url=/contact" />

<style>
body{
	color:white;
}


html {
	background-color: black;
}

h2{
	color: white;
	padding : 0px;
	margin:0px;
	letter-spacing: 2px;
	font-family:微軟正黑體,Microsoft JhengHei;
}


</style>

</head>

<body>
    <h2>訊息已發送，我們會盡快與您聯繫!</h2>
</body>