<% include partials/header %>

		<link rel="stylesheet" href="contact.css">
		
    </head>
    
	<div class="bg">
	    
    <body>
        
    	<% include partials/nav %>


	    <% include partials/footer %>
	
    </body>
</html>