
	
		<% include partials/header %>
		<link rel="stylesheet" href="index.css">
</head>


<body>
	<div class="bg">

	<% include partials/nav %>

								<div >
									<img id="center-logo" src="logo_glitch.gif" >
								</div>

								<div class="title fadeIn fadeOut">
									<div class="title-text d-flex"> 
										<img  class="align-self-center" src="dec.png"  height ="50%" width="auto">
										<div>
											<p class="mb-1 pl-4">MEDIA ART</p>
											<p class="mb-1 pl-4">INTERACTION DESIGN</p>
										</div>
									</div>

									<img id="title_12oclock" src="title_12oclock.png">
									<img id="title_mb" src="title_mb.png">
								</div>


							</div>

	<% include partials/footer %>
						
							<script type="text/javascript" src="index.js"></script>
						</body>


						</html>