<% include partials/header %>

		<link rel="stylesheet" href="reel.css">
		
    </head>
    
	<div class="bg">
	    
    <body>
        
    	<% include partials/nav %>
    	
    	
    <div id="spacer"></div>
    <div class="videowrapper">
    <iframe id="ytplayer" type="text/html" width="1920" height="1080"
src="https://www.youtube.com/embed/jsMhf_GomIU?autoplay=1&rel=0&showinfo=0"
frameborder="0" allowfullscreen>
        </iframe>
    </div>
    
</div>

	  <% include partials/footer %>
	
    </body>
</html>