<% include partials/header %>

<link rel="stylesheet" href="works.css">

</head>



<body>

    <div class="bg">
 	<% include partials/nav %>

     
           <p id="coming">Coming Soon !</p>


    </div>

   <% include partials/footer %>

</body>

</html>
